# output files
output/*
!output/figures
!output/AGNI
output/AGNI/AGNI_spectra/*
output/AGNI/AGNI_textfiles/*
notebooks/__pycache__
!output/LIFEsim
output/LIFEsim/cleanspectra/*
output/LIFEsim/observed_spectra/*
!output/ARCiS
notebooks/ARCiS
notebooks/ARCiS/*
output/ARCiS/input_spectra/*